<%- model_class = Variant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @variant.product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shopify_variant_id) %>:</strong></dt>
  <dd><%= @variant.shopify_variant_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option1) %>:</strong></dt>
  <dd><%= @variant.option1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option2) %>:</strong></dt>
  <dd><%= @variant.option2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option3) %>:</strong></dt>
  <dd><%= @variant.option3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sku) %>:</strong></dt>
  <dd><%= @variant.sku %></dd>
  <dt><strong><%= model_class.human_attribute_name(:barcode) %>:</strong></dt>
  <dd><%= @variant.barcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @variant.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_shopify_sync) %>:</strong></dt>
  <dd><%= @variant.last_shopify_sync %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              variants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_variant_path(@variant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              variant_path(@variant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
