<%= form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :shopify_account_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shopify_account_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shopify_api_key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shopify_api_key, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shopify_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shopify_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shopify_shared_secret, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shopify_shared_secret, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
